<div align="center">
  <h1><%= "Dr. #{@user.first_name} #{@user.last_name}" %></h1>
  <h4><%= @user.oneliner %></h4>
  <h5>
    <img height="32" width="32" src="http://cdn.flaticon.com/png/256/30915.png">&nbsp;<%= @user.education %>
  </h5>
  <p><%= @user.description %></p>
</div>

<% @user.posts.each do |post| %>
  <div class="media">
    <%= link_to post, class: "pull-left" do %>
      <img class="media-object" src="http://placehold.it/64x64">
    <% end %>
    <div class="media-body">

      <% if false %>
      <%= link_to post do %><!--
        <h4 class="media-heading"><%= "#{post.brand} #{post.title} #{post.price} [#{post.size}]" %></h4>
        <h5><%= post.status %></h5>-->
      <% end %>
      <% end %>

      <%= link_to post.body, post %>
    </div>
  </div>
<% end %>

