<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".col2">
        <i class="icon-cog icon-white"></i>
      </button>
      <a class="brand" href="/"><%= site_title %></a>
      <div class="nav-collapse col2">
        <ul class="nav">
          <li><%= link_to("Create Account", new_user_path) unless current_user %></li>
        </ul>
        <% if current_user %>
          <ul class="nav pull-right">
            <li><%= link_to "New Post" , new_post_path %></li>
            <li><%= link_to "View Profile" , current_user %></li>
            <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
            <li><%= link_to "Logout", logout_path %></li>
          </ul>
        <% else %>
          <%= form_tag sessions_path, method: :post, class: "navbar-form pull-right" do  %>
            <%= text_field_tag :username, nil, placeholder: "username", class: "span2" %>
            <%= password_field_tag :password, nil,placeholder: "password", class: "span2" %>
            <%= submit_tag "Login", class: "btn btn-info" %>
          <% end %>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
      


