<% content_for :title, "New Pairs"  %>
<div class="container-fluid">
  <% @posts.each do |post| %>
    <hr>
    <div class="row-fluid">
      <div class="media">
        <%= content_tag :div, class: "pull-left" do  %>
          <% if current_user %>
            <%= link_to 'upvote', upvote_post_path(post), class: "label label-inverse" %>
            <h4>[<%= post.score %>]</h4>
            <%= link_to 'downvote', downvote_post_path(post), class: "label" %>
          <% else %>
            <h4>[<%= post.score %>]</h4>
          <% end %>
        <% end %>
        <%= link_to post, class: "pull-left" do %>
          <%= image_tag "http://placehold.it/50x50", class: 'media-object img-rounded' %>
        <% end %>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to post.post_title, post %></h4>
          <p>
            Sold by: <%= link_to "#{post.user.username} (#{0})", user_path(post.user) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if current_admin %>
  <div class="navbar navbar-fixed-bottom inverse">
    <div class="navbar-inner">
      <div class="container">
        <p class="brand">Admin:</p>
        <%= link_to "SIZES", sizes_path, class: "brand" %>
      </div>
    </div>
  </div>
<% end %>
