<!DOCTYPE html>
<html>
<head>
  <title><%= site_title %> - Buy and Sell</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/header_nav' %>
<% if notice %>
  <p class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </p>
<% end %>
<% if alert %>
  <p class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= alert %>
  </p>
<% end %>
<%= yield %>

<script type="text/javascript">
(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document); 
</script>
</body>
</html>
